<ion-view>

    <ion-side-menus>

        <ion-side-menu side="left">
            <ion-content padding center>
                    <img ng-src="https://www.grandhotel.se/sites/all/themes/grandhotel/logo.png" alt="" width="100%" align-self="center">
            </ion-content>
            <img ng-src="http://media2.ullerud.nu/2017/05/Slussen.jpg" alt="">
        </ion-side-menu>

        <ion-side-menu-content>

            <ion-toolbar>
                <div class="bar bar-subheader bar-dark">

                    <button menu-toggle="left" class="button button-icon icon ion-ios-information"></button>

                    <h1 class="title">My Booking</h1>

                    <button menu-toggle="right" class="button button-icon icon ion-ios-settings"></button>
                </div>
            </ion-toolbar>


            <ion-content class="padding has-subheader">
                <ion-list ng-controller="ListController">
                    <ion-item class="item-thumbnail-left" ng-repeat="room in rooms" ng-src="{{rooms}}" ng-href="#/root/rooms/{{room.id}}">
                        <img ng-src="{{room.img}}" alt="">
                        <h2>{{room.size}} Bed{{room.size>1 ? "s" : ""}}</h2>
                        <h3>{{room.price}} SEK/night ( € {{(room.price/exchange.rates.SEK).toFixed(2)}} )</h3>
                        <p>{{room.type}}</p>
                    </ion-item>
                </ion-list>
            </ion-content>

        </ion-side-menu-content>


        <ion-side-menu side="right" class="padding">
            <ion-header-bar class="bar bar-header-stable">
                <h2 class="title">Filter</h2>
            </ion-header-bar>
            <ion-content id="listFilter" class="padding" ng-controller="ListController">
                <h2>Currency</h2>

                <div class="list">
                    <label class="item item-input item-select" for="">
                        <div class="input-label">
                            Choose a currency
                        </div>
                        <select name="currency" id="currency">
                            <option value="0" selected="selected">EUR</option>
                            <option value="1">USD</option>
                        </select>
                    </label>
                </div>

            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</ion-view>